* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 2160px){

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: radial-gradient(#FFC6C6, #F7B5CA, #F0A8D0);
    }

    #tester{
        position: absolute;
        background-color: #FFC6C6;
        top: 300px;
        height: 50px;
        width: 150px;
        border: 2px solid rgb(247, 247, 247);
        border-radius: 10%;
    }

    #reset{
      top: 50px;
    }

    #tester:hover{
        transform: translateY(-10px);
        box-shadow: 1px 1px 1px 1px gray;
        background-color: rgb(119, 182, 253);
        transition: transform 0.2s ease-in-out;
    }

    .envelope {
      z-index: -100;
      position: absolute;
      justify-content: center;
      width: 50vw;  /* 50% of viewport width */
      height: 30vh; /* 30% of viewport height */
      max-width: 600px;  /* Set a maximum width */
      max-height: 400px; /* Set a maximum height */
      background-color: #f0f0f0;
      border: 1px solid #b63838;
      border-radius: 10px;
      overflow: hidden;
    }

    #triangleLeft{
        z-index: 1;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 923px;
        width: 14vw;
        height: 30vh;
        background: radial-gradient(#FFCFB3, #E78F81);
        border: 1px solid white;
        border-radius: 10px;
    }

    #hearts{
      object-fit: cover;
      justify-content: center;
      z-index: 2;
      height: 100%;
      width: 100%;
    }

    #pht{
      position: relative;
      height: 100%;
      width: 100%;
    }

    #triangleRight{
        z-index: 1;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 923px;
        width: 14vw;
        height: 30vh;
        background: radial-gradient(#FFCFB3, #E78F81);
        border: 1px solid white;
        border-radius: 10px;
    }

    .moveLeft{
      background-color: red;
      animation: aLeft 1s linear forwards;
    }
    @keyframes aLeft{
      0%{
        background-color: #E4B1F0;
      }
      25%{
        background-color: #F0A8D0;
      }
      50%{
        background-color: #F7B5CA;
      }
      75%{
        background-color: #FFC6C6;
      }
      100%{
        transform: translateX(-300px);
        background-color: #FFC6C6;
      }
    }

    .moveRight{
      animation: aRight 1s linear forwards;
    }
    @keyframes aRight{
      0%{
        background-color: #E4B1F0;
      }
      25%{
        background-color: #F0A8D0;
      }
      50%{
        background-color: #F7B5CA;
      }
      75%{
        background-color: #FFC6C6;
      }
      100%{
        transform: translateX(300px);
        background-color: #FFC6C6;
      }
    }

  }

@media screen and (max-width: 2150px) {
  body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient( #F6F5F2, #F0EBE3, #F3D0D7, #FFEFEF);
  }

  p{
    word-spacing: 3px;
  }

  .topFlowers{
    z-index: -10;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  #tpLeft{
    position: relative;
    height: 50em;
    width: 50em;
  }

  #tpRight{
    position: relative;
    height: 50em;
    width: 50em;
    left: 21em;
  }

  #open{
    /* top: 18px; */
    overflow: hidden;
    position: relative;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3em;
    text-shadow: -1px 6px 3px #474545;
    transition: transform 600ms ease-in-out;
  }

  .oActive{
    transform: translateY(18px);
    animation: fade 1s reverse;
  }

  .oDeactive{
    transform: translateY(-75px);
    animation: fade 1s normal;
  }

  @keyframes fade{
    0%{opacity: 100%;}
    25%{opacity: 75%;}
    50%{opacity: 50%;}
    75%{opacity: 25%;}
    100%{opacity: 0%;}
  }

  #close{
    /* top: 2em; */
    position: relative;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3em;
    text-shadow: -1px 6px 3px #474545;
    transition: transform 600ms ease-in-out;
  }

  .cDeactive{
    transform: translateY(55px);
    animation: fade 1s normal;
  }

  .cActive{
    transform: translateY(-30px);
    animation: fade 1s reverse;
  }

  #top{
    position: relative;
    top: -1%;
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    font-size: 6vh;
    text-shadow: -1px 3px 3px #474545;
    color: #ffffff;
  }

  #message{
    position: relative;
    top: 1.5%;
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
  }

  #bottom{
    position: relative;
    top: 3%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6vh;
    text-shadow: -1px 6px 3px #474545;
    color: #FF8A8A;
  }

  #tester{
      overflow: hidden;
      display: block;
      position: absolute;
      background-color: #FFC6C6;
      top: 6vh;
      left: 47vw;
      height: 12vh;
      width: 6vw;
      border: 2px solid rgb(247, 247, 247);
      border-radius: 100%;
  }

  #reset{
    position: relative;
    background-color: #FFC6C6;
    top: 25vh;
    height: 5vh;
    width: 6vw;
    border-radius: 10%;
    border: 2px solid rgb(247, 247, 247);
  }

  #tester:hover{
      transform: translateY(-10px);
      box-shadow: 1px 1px 1px 1px gray;
      transition: all 0.3s ease-in-out;
  }

  #reset:hover{
    transform: translateY(-10px);
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #FF8A8A;
    transition: all 0.3s ease-in-out;
}

  .envelope {
    display: block;
    z-index: -100;
    position: absolute;
    justify-content: middle;
    align-items: center;
    text-align: center;
    top: 25vh;
    width: 50vw;  /* 50% of viewport width */
    height: 70vh; /* 30% of viewport height */
    max-width: 600px;  /* Set a maximum width */
    max-height: 415px; /* Set a maximum height */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(250,224,235,1) 35%, rgba(252,207,234,1) 72%, rgba(129,183,246,1) 100%);    border: 1px solid #b63838;
    border-radius: 10px;
    overflow: hidden;
  }

  #triangleLeft{
      z-index: 1;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 24vh;
      left: 30vw;
      width: 20vw;
      height: 45vh;
      background: radial-gradient(#FFCFB3, #E78F81);
      border: 1px solid white;
      border-radius: 10px;
  }

  #hearts{
    object-fit: cover;
    justify-content: center;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  #pht{
    position: relative;
    height: 100%;
    width: 100%;
  }

  #triangleRight{
      z-index: 1;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 24vh;
      right: 30vw;
      width: 20vw;
      height: 45vh;
      background: radial-gradient(#FFCFB3, #E78F81);
      border: 1px solid white;
      border-radius: 10px;
      transition: transform 3s ease-in-out all;
  }

  .moveLeft{
    animation: aLeft 1s linear forwards;
  }
  @keyframes aLeft{
    0%{
      background-color: #E4B1F0;
    }
    25%{
      background-color: #F0A8D0;
    }
    50%{
      background-color: #F7B5CA;
    }
    75%{
      background-color: #FFC6C6;
    }
    100%{
      transform: translateX(-270px);
      background-color: #FFC6C6;
    }
  }

  .moveRight{
    animation: aRight 1s linear forwards;
  }
  @keyframes aRight{
    0%{
      background-color: #E4B1F0;
    }
    25%{
      background-color: #F0A8D0;
    }
    50%{
      background-color: #F7B5CA;
    }
    75%{
      background-color: #FFC6C6;
    }
    100%{
      transform: translateX(270px);
      background-color: #FFC6C6;
    }
  }

}