body, html {
  background-image: linear-gradient();
  text-align: center;
}

footer {
  text-align: left;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding-left: 1em;
  padding-right: 1em;
}

.top-container {
  position: static;
  right: 15px;
    margin: auto auto auto auto;
    margin-top: 20px;
    width: 40%;
    height: 18em;
}

.navLogo {
  height: 1.5rem;
  width: 1.5rem;
}

.skills {
  position: static;
  z-index: 1;
  display: inline-block;
  margin: auto auto auto auto;
  width: 50%;
  height: 85em;
}

.foot {
  margin: auto auto auto auto;
  margin-top: 40px;
  width: 50%;
  height: 10em;
}

.header {
   width: 120px;
   height: 120px;
   margin: auto auto auto auto;
   float: left;
}

.skillWarpper {
  display: inline-flex;
  padding-bottom: 40px;
}

.skill-logo {
  position: static;
  float: left;
   width: 5rem;
   height: 5rem;
}

.skill-header {
  position: static;
  margin-top: 1rem;
  margin-left: 1rem;
}

.skill-row {
  margin: 60px auto 60px auto;
}

.java {
  position: relative;
  left: 20px;
}

.top-divider {
  border : 0;
  height: 10px;
  width: 120%;
  background-image: linear-gradient(to right, rgb(255, 121, 205), rgb(132, 94, 194), rgb(255, 121, 205));
}

.skill-row {
  text-align: left;
  position: relative;
  top: 20px;
}

.java-logo {
  position: relative;
  right: 60px;
  width: 220px;
  height: 220px;
  float: left;
}

.java-logo:hover {
  transform: scale(1.5);
}

.python-logo {
  position: relative;
  left: 25px;
  width: 220px;
  height: 220px;
  float: right;
}

.python-logo:hover {
  transform: scale(1.5);
}

.html-logo {
  position: relative;
  right: 20px;
  width: 220px;
  height: 220px;
  float: left;
}

.html-logo:hover {
  transform: scale(1.2);
}

.css-logo {
  position: relative;
  left: 10px;
  width: 220px;
  height: 220px;
  float: right;
}

.css-logo:hover {
  transform: scale(1.3);
}

.javascript-logo {
  position: relative;
  right: 25px;
  width: 220px;
  height: 220px;
  float: left;
}

.javascript-logo:hover {
  transform: scale(1.3);
}

p {
  /* Font family was exported from fonts.google.com*/
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 30px;
}

h1 {
  font-size: 40px;
  font-family: 'Signika Negative', sans-serif;
  word-spacing: 5px;
  color: #4C4C6D;
}

h2 {
  position: static;
  bottom: 5px;
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
}

h3 {
  font-size: 45px;
  font-weight: bold;
  color: #79B4B7;
}
