<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="reviewStyle.css">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="contactMe" action="/contact" method="post">
      <div class="btnWrapper">
        <button type="submit" class="btn" name="button">Contact me</button>
      </div>
    </form>
    <form class="toDoList" action="/todo" method="post">
      <div class="btnWrapper">
        <button type="submit" class="btn" name="button">To Do List</button>
      </div>
    </form>
  </body>
</html>
